.Items_list{
    background-color: tan;
    width: 100%;
}
.Items{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.IndividualItem {
    margin:auto;
    margin-bottom: 1rem;
}
h3{
    color: brown;
    font-size: 2rem;
    margin-top: 5rem;
}